<!DOCTYPE html>
<div
    th:fragment="header(appName)"
    xmlns:th="http://www.thymeleaf.org"
    class="border-b border-border bg-surface"
>
    <wm-confirm-dialog
        th:attr="title-text=#{captive.confirm.title},confirm-text=#{captive.confirm.confirm},cancel-text=#{captive.confirm.cancel}">
    </wm-confirm-dialog>
    <div class="container-page flex items-center justify-between py-4 h-16">
        <a class="text-xl font-semibold no-underline text-black items-center flex gap-x-1 hover:!text-black"
           th:href="@{/captive}"
           aria-label="Go to home page">
            <img th:src="@{/assets/shared/icons/outline/wifi.svg}" alt="Logo" class="inline w-8 h-8">
            <span th:text="${appName}">WiFi Manager</span>
        </a>

        <div th:replace="~{shared/fragments/language-switcher :: languageSwitcher(#{captive.language.label}, #{captive.language.en}, #{captive.language.cs})}"></div>
    </div>
</div>
