name: wifimanager-monolith
services:
  postgres:
    image: postgres:18.1-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=wifimanager
      - POSTGRES_USER=wifimanager
      - POSTGRES_PASSWORD=wifimanager

  keycloak:
    image: quay.io/keycloak/keycloak:26.3.0
    restart: unless-stopped
    command: ["start-dev", "--import-realm"]
    ports:
      - "8081:8080"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HTTP_ENABLED=true
      - KC_HOSTNAME_STRICT=false
      - KC_HOSTNAME_STRICT_HTTPS=false
    volumes:
      - ./keycloak/import:/opt/keycloak/data/import
